listen: 8000
provider:
  type: "rpc"
  uri: "https://bsc-dataseed.binance.org/"

apiKey: "CHANGEME"

invoices:
  minConfirmations: 1

public:
  allowTokens: ['WMUE']
  contracts:
    WMUE: 
      address: "0x00abaa93faf8fdc4f382135a7a56f9cf7c3edd21" # Mainnet
